ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.font-weight-500 {
    font-weight: 500 !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.yellowgreen-100 {
    color: var(--color-yellowgreen-100);
}

/* border radius  */
.border-radius-5xl{
    border-radius: var(--br-5xl);   
}
.border-radius-5xs{
     border-radius: var(--br-5xs);
}

.padding-sm{
    padding: var(--padding-5xs) var(--padding-sm);
}
.padding-lg{
    padding: var(--padding-3xs) var(--padding-lg);
}

/* text color  */
.text-gray-600 {
    color: var(--gray-600);
}
.text-gray-7001{
    color: var(--gray-7001);
}

/* font size  */
.text-sm-semibold-size{
    font-size: var(--text-sm-semibold-size);
}
.text-xs-semibold-size{
    font-size: var(--display-xs-semibold-size);
}

.line-height-38{
    line-height: 38px;
}
.line-height-20{
    line-height: 20px;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1366px;
    }
}
.user-avatar:hover .submenu{
    opacity: 1;
    visibility: visible;
}
.user-avatar .submenu {
    position: absolute;
    right: 0;
    top: 50px;
    background: #ffffff;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
    border: 1px solid rgba(0, 71, 60, 0.20);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
